
.ipynb_checkpoints/CGD-checkpoint.ipynb
.ipynb_checkpoints/CGC-checkpoint.ipynb
.ipynb_checkpoints/CGB-checkpoint.ipynb
.ipynb_checkpoints/CGA-checkpoint.ipynb
.ipynb_checkpoints/CG14-checkpoint.ipynb
.ipynb_checkpoints/CG13-checkpoint.ipynb
.ipynb_checkpoints/CG12-checkpoint.ipynb
.ipynb_checkpoints/CG11-checkpoint.ipynb
.ipynb_checkpoints/CG10-checkpoint.ipynb
.ipynb_checkpoints/CG09-checkpoint.ipynb
.ipynb_checkpoints/CG08-checkpoint.ipynb
.ipynb_checkpoints/CG07-checkpoint.ipynb
.ipynb_checkpoints/CG06-checkpoint.ipynb
.ipynb_checkpoints/CG05-checkpoint.ipynb
.ipynb_checkpoints/CG04-checkpoint.ipynb
.ipynb_checkpoints/CG03-checkpoint.ipynb
.ipynb_checkpoints/CG02-checkpoint.ipynb
.ipynb_checkpoints/CG01-checkpoint.ipynb
.ipynb_checkpoints/CG00-checkpoint.ipynb
